<log4net>
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <file value="log.txt" />
    <appendToFile value="True" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="25MB" />
    <layout type="GoSimple.Logging.Log4Net.TextLayout, GoSimple.Logging.Log4Net"></layout>
  </appender>
  <!-- Set root logger level to DEBUG and its only appender to A1 -->
  <root>
    <level value="Debug" />
    <appender-ref ref="RollingLogFileAppender" />
  </root>
</log4net>